<p-panel>
  <table class="w-full">
    <tr>
      <td class="font-semibold">Location</td>
      <td>Philippines</td>
    </tr>
    <tr>
      <td class="font-semibold">Difficulty</td>
      <td>Hard</td>
    </tr>
    <tr>
      <td class="font-semibold">Date</td>
      <td>{{ dateNow | date }}</td>
    </tr>
    <tr>
      <td class="font-semibold">Duration</td>
      <td>2 days</td>
    </tr>
    <tr>
      <td class="font-semibold">Organizer</td>
      <td>Akyat PH</td>
    </tr>
    <tr>
      <td class="font-semibold">Inclusions</td>
      <td>Stuff</td>
    </tr>
    <tr>
      <td class="font-semibold">Itinerary</td>
      <td>TBC</td>
    </tr>
  </table>
</p-panel>
