<div class="mountain-details">
  <div class="banner">
    <div class="banner-image"></div>
    <div class="flex justify-center h-full items-center flex-col">
      <h1 class="text-4xl font-bold flex items-center">
        <span>{{ mountain?.name }}</span>
      </h1>
      <h5 class="text-xl font-semibold">{{ mountain?.elevation }} MASL</h5>
    </div>
  </div>
  <div class="page-content">
    <section class="bg-gradient">
      <div class="flex justify-center space-above">
        <p class="description my-2 text-center text-primary text-lg">
          {{ mountain?.description }} Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Ad officia beatae vel tempora delectus adipisci eos
          ex perspiciatis, neque qui. Vero reiciendis, fugit blanditiis adipisci
          nemo voluptatibus accusamus culpa facere!
        </p>
      </div>

      <div class="flex justify-center space-above">
        <div
          class="my-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-[5rem] gap-y-[3rem] text-center"
        >
          <div class="flex flex-col gap-2">
            <label class="text-primary">Location</label>
            <p class="text-xl font-bold text-black">{{ mountain?.location }}</p>
          </div>
          <div class="flex flex-col gap-2">
            <label class="text-primary">Difficulty</label>
            <p class="text-xl font-bold text-black">
              {{ mountain?.difficulty }}
            </p>
          </div>
          <div class="flex flex-col gap-2">
            <label class="text-primary">Elevation</label>
            <p class="text-xl font-bold text-black">
              {{ mountain?.elevation }} MASL
            </p>
          </div>
          <div class="flex flex-col gap-2">
            <label class="text-primary">Duration</label>
            <p class="text-xl font-bold text-black">{{ mountain?.duration }}</p>
          </div>
          <div class="flex flex-col gap-2">
            <label class="text-primary">Trail Class</label>
            <p class="text-xl font-bold text-black">
              {{ mountain?.trailClass }}
            </p>
          </div>
          <div class="flex flex-col gap-2">
            <label class="text-primary">Distance</label>
            <p class="text-xl font-bold text-black">{{ mountain?.distance }}</p>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-white">
      <div class="space-above">
        <h4 class="text-center text-2xl text-primary font-bold">Gallery</h4>
      </div>
    </section>

    <section class="bg-gradient">
      <div class="space-above">
        <h4 class="text-center text-2xl text-primary font-bold">Community</h4>
      </div>
    </section>
  </div>
</div>
