<div class="navbar flex justify-between">
  <div class="navbar-start">
    <a class="btn btn-ghost font-semibold text-lg"></a>
  </div>
  <div class="navbar-center">
    <a
      class="btn btn-ghost text-lg"
      routerLink="/hikes"
      routerLinkActive="nav-active"
      #exploreLink="routerLinkActive"
      [class.font-bold]="exploreLink.isActive"
      >Explore</a
    >
    <a
      class="btn btn-ghost text-lg"
      routerLink="/mountains"
      routerLinkActive="nav-active"
      #mountainsLink="routerLinkActive"
      [class.font-bold]="mountainsLink.isActive"
      >Mountains</a
    >
    <a
      class="btn btn-ghost text-lg"
      routerLink="/organizers"
      routerLinkActive="nav-active"
      #organizersLink="routerLinkActive"
      [class.font-bold]="organizersLink.isActive"
      >Organizers</a
    >
  </div>
  <div class="navbar-end"></div>
</div>
