.navbar {
  padding: 2rem;
  background-color: var(--p-primary-200);
}

.navbar-center a {
  color: var(--p-primary-color);
  margin: 0 1rem;
  padding: 0.5rem 3rem;
  border-radius: 24px;
}

.navbar-center a:hover {
  background-color: var(--p-primary-400);
  color: var(--p-surface-100);
  transition: all 0.3s ease;
}

.navbar-center a.nav-active {
  background-color: var(--p-primary-400);
  color: var(--p-white);
  transition: all 0.5s ease;
}
