.navbar {
    padding: 2rem;
    background-color: var(--p-primary-200);
}

.navbar-center a {
    color: var(--p-primary-color);
    padding: 0.5rem 1.5rem;
    margin: 0 0.5rem;
    border-radius: 24px;
}

.navbar-center a.nav-active {
    background-color: var(--p-primary-color);
    color: var(--p-surface-100);
}