<div class="navbar flex justify-between">
  <div class="navbar-start">
    <a class="btn btn-ghost normal-case text-xl">Bundok PH</a>
  </div>
  <div class="navbar-center">
    <a
      class="btn btn-ghost normal-case text-xl"
      routerLink="/hikes"
      routerLinkActive="nav-active"
      >All Hikes</a
    >
    <a
      class="btn btn-ghost normal-case text-xl"
      routerLink="/mountains"
      routerLinkActive="nav-active"
      >Mountains</a
    >
    <a
      class="btn btn-ghost normal-case text-xl"
      routerLink="/organizers"
      routerLinkActive="nav-active"
      >Organizers</a
    >
  </div>
  <div class="navbar-end"></div>
</div>
