<p-card (click)="toTrailDetailPage()" class="cursor-pointer">
  <ng-template #header>
    <div class="relative">
      <img
        alt="Card"
        class="card-header-image"
        src="assets/images/sample.jpg"
      />
    </div>
  </ng-template>
  <ng-template #title
    ><span class="font-bold text-primary text-xl">{{ trail()?.name }}</span>
  </ng-template>
  <div class="grid grid-cols-2 gap-2 py-2">
    <div class="col-span-1 flex items-center">
      <i class="pi pi-map-marker text-highlight"></i>
      <span class="font-semibold ml-2">{{ trail()?.location }}</span>
    </div>
    <div class="col-span-1">
      <i class="pi pi-arrow-up-right text-highlight"></i>
      <span class="font-semibold ml-2"
        >{{ trail()?.elevation }} MASL</span
      >
    </div>
    <div class="col-span-1">
      <i class="pi pi-map text-highlight"></i>
      <span class="font-semibold ml-2">{{ trail()?.distance }}</span>
    </div>
    <div class="col-span-1">
      <i class="pi pi-angle-double-up text-highlight"></i>
      <span class="font-semibold ml-2">{{ trail()?.difficulty }}</span>
    </div>
  </div>

  <ng-template #footer>
    <div class="flex justify-between items-center mt-1">
      <div class="w-full">
        <p-button label="View Trail" class="card-btn" [fluid]="true" (onClick)="toTrailDetailPage()"/>
      </div>
    </div>
  </ng-template>
</p-card>
