.page-content {
  padding: 2rem;
}

.banner {
  position: relative;
  background: radial-gradient(
    circle at center,
    #f7fbf8 0%,
    #eef5f0 35%,
    #e3efe6 65%,
    #d6e6da 100%
  );

  height: 220px;
}