<div class="hike-details">
  <div class="page-heading my-4">
    <h1 class="text-primary text-3xl font-bold">{{ hike?.name }}</h1>
    <p>{{ hike?.description }}</p>
  </div>

  <ul class="tabs-container flex gap-4 my-4">
    <li class="p-4 pl-0"><a routerLink="general" routerLinkActive="nav-active">General Details</a></li>
    <li class="p-4"><a routerLink="trail" routerLinkActive="nav-active">Trail Info</a></li>
    <li class="p-4"><a routerLink="gallery" routerLinkActive="nav-active">Gallery</a></li>
    <li class="p-4"><a routerLink="reviews" routerLinkActive="nav-active">Reviews</a></li>
  </ul>

  <router-outlet></router-outlet>
</div>
