.hike-details {
  padding: 2rem;
}

.tabs-container li a:hover {
  border-bottom: 1px solid var(--p-primary-color);
  transition: all 0.5s ease-in-out;
}

.tabs-container li a.nav-active {
  border-bottom: 1px solid var(--p-primary-color);
}
