<p-card>
  <ng-template #header>
    <img alt="Card" class="card-header-image" src="assets/images/sample.jpg" />
  </ng-template>
  <ng-template #title>{{ hike()?.name }}</ng-template>
  <div class="grid grid-cols-2 gap-4 py-2">
    <div class="col-span-1 flex items-center">
      <i class="pi pi-map-marker text-highlight"></i>
      <span class="ml-1">{{ hike()?.location }}</span>
    </div>
    <div class="col-span-1">
      <i class="pi pi-calendar text-highlight"></i>
      <span class="ml-1">{{ hike()?.date | date : 'mediumDate' }}</span>
    </div>
  </div>
</p-card>
