.card-header-image {
    width: 100%; /* Makes the image fill the width of the card */
    height: 300px; /* Set a fixed height as needed */
    object-fit: cover; /* Ensures the image covers the area while maintaining aspect ratio */
}

.text-yellow {
    color: var(--p-yellow);
}