/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Jost:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import "primeicons/primeicons.css";
@import "tailwindcss";
@import "./app/styles/typography.css";

:root {
  --p-pop-color: #E86C00;
}

* {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
